redmine-passenger:
    container_name: redmine-passenger
    build: .
    volumes:
        - ./files:/usr/src/redmine/files
        - ./plugins:/usr/src/redmine/plugins
    environment:
        REDMINE_DB_MYSQL: redmine-mysql
        MYSQL_ENV_MYSQL_PASSWORD: redmine
        REDMINE_DB_ENCODING: utf8
        PLUGINS: |
            git://github.com/alexandermeindl/redmine_tweaks.git plugins/redmine_tweaks
            https://github.com/twinslash/redmine_omniauth_google.git plugins/redmine_omniauth_google
            https://github.com/jrupesh/redmine_my_page.git plugins/redmine_my_page
    ports:
        - "3000:3000"
    links:
        - redmine-mysql
redmine-mysql:
    container_name: redmine-mysql
    image: mysql
    environment:
        MYSQL_ROOT_PASSWORD: redmine
        MYSQL_DATABASE: redmine
    volumes:
        - .data:/var/lib/mysql
        - ./redmine_mw_dump.sql:/docker-entrypoint-initdb.d/redmine.sql
    expose:
        - "3306"
